langgraph-checkpoint-mongodb==0.1.4
openai==1.109.1
python-dotenv==1.1.1
SpeechRecognition==3.16.1
PyAudio==0.2.14
audioop-lts==0.2.2; python_version >= "3.13"
standard-aifc==3.13.0; python_version >= "3.13"
standard-chunk==3.13.0; python_version >= "3.13"
typing_extensions==4.15.0
